@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: Poppins, sans-serif;
  box-sizing: border-box;
}

.text-transparent-with-image h1 {
  position: relative;
  display: inline-block;
  background-image: url("./assets/jarvis.svg");
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-size: 4rem;
  font-weight: 900;
  z-index: 1;
  background-size: auto 100%;
  background-position: center;
}
